block content

  .jumbotron-fluid(style="text-align:center;")
  .container
    h2
      .btn.btn-outline-success
        .display-3 Recommend Events for You!
  .row
    .col-md-6(style="float:right;")
      .card.border-success.mb-3
        .card-header
          | 참여자 Top 5
        - var num = 1
        .card-body
          table.table
            thead
              tr
                th(scope='col') 순위
                th(scope='col') 제목
                th(scope='col') 참여자 수
                th(scope='col') 보기
            tbody
              each quep in questionParticipateMax
                tr
                  th(scope='row')
                    a=num
                    - num++
                  td 
                    .content=quep.title
                  td 
                    .content!=quep.numParticipate 
                  td
                    a(href=`/questions/${quep._id}`) Go!
    .col-md-6
      .card.border-success.mb-3
        .card-header
          | 후기 Top 5
        - var num = 1
        .card-body
          table.table
            thead
              tr
                th(scope='col') 순위
                th(scope='col') 제목
                th(scope='col') 후기 수
                th(scope='col') 보기
            tbody
              each quep in questionReviewMax
                tr
                  th(scope='row')
                    a=num
                    - num++
                  td 
                    .content=quep.title
                  td 
                    .content!=quep.numReviews
                  td
                    a(href=`/questions/${quep._id}`) Go!
  .row
    .col-md-3
    .col-md-6
      .card.border-success.mb-3
        .card-header
          | 조회수 Top 5
        - var num = 1
        .card-body
          table.table
            thead
              tr
                th(scope='col') 순위
                th(scope='col') 제목
                th(scope='col') 조회 수
                th(scope='col') 보기
            tbody
              each quep in questionReadMax
                tr
                  th(scope='row')
                    a=num
                    - num++
                  td 
                    .content=quep.title
                  td 
                    .content!=quep.numReads
                  td
                    a(href=`/questions/${quep._id}`) Go!
  
  
