.form-group
  label(for="title") 제목
  input.form-control(type="text", name="title", placeholder="제목을 입력해주세요.", value=question.title)
.form-group
  .row
    .col-md-3
      label(for="organizeName") 조직 이름
      textarea.form-control(name="organizeName", rows="1" )= question.organizeName
    .col-md-9
      label(for="organizeExp") 조직 설명
      textarea.form-control(name="organizeExp", rows="1" )= question.organizeExp
.form-group
  .row
    .col-md-2
      label(for="eventSort") 이벤트 종류
      select#inputState.form-control(name="eventSort", rows="1" )= question.eventSort
        .choose-eventsort
          option(selected="Apperance or Signing", name="eventSort") Apperance or Signing 
          option(selected="Attraction ", name="eventSort") Attraction 
          option(selected="Camp, Trip, or Retreat ", name="eventSort") Camp, Trip, or Retreat 
          option(selected="Class, Training, or Workshop ", name="eventSort") Class, Training, or Workshop 
          option(selected="Concert or Performance ", name="eventSort") Concert or Performance 
          option(selected="Conference ", name="eventSort") Conference 
          option(selected="Convention ", name="eventSort") Convention 
          option(selected="Dinner or Gala ", name="eventSort") Dinner or Gala 
          option(selected="Festival or Fair ", name="eventSort") Festival or Fair 
          option(selected="Party or Social Gathering ", name="eventSort") Party or Social Gathering 
          option(selected="Game or Competition ", name="eventSort") Game or Competition 
          option(selected="Meeting or network event", name="eventSort") Meeting or network event
          option(selected="Other", name="eventSort") Other
          option(selected="Party or social gathering", name="eventSort") Party or social gathering
          option(selected="Race or enduarance event", name="eventSort") Race or enduarance event
          option(selected="Rally", name="eventSort") Rally
          option(selected="Screening", name="eventSort") Screening
          option(selected="Seminar or talk", name="eventSort") Seminar or talk
          option(selected="Tour", name="eventSort") Tour
          option(selected="Tournament, or Expo", name="eventSort") Tournament
          option(selected="Tradeshow, Consumer Show, or Expo", name="eventSort") Tradeshow, Consumer Show, or Expo
    .col-md-2
      label(for="eventTopic") 이벤트 분야
      select#inputState.form-control(name="eventTopic", rows="1" )= question.eventTopic
        .choose-eventTopic
          option(selected="Boat & Air", name="eventTopic") Boat & Air
          option(selected="Business & Professional", name="eventTopic") Business & Professional
          option(selected="Community & Culture", name="eventTopic") Community & Culture
          option(selected="Family & Education", name="eventTopic") Family & Education
          option(selected="Fashion & Beauty", name="eventTopic") Fashion & Beauty
          option(selected="Film, Media & Entertainment", name="eventSort") Film, Media & Entertainment
          option(selected="Food & Drink", name="eventSort") Food & Drink
          option(selected="Government & Politics", name="eventTopic") Government & Politics
          option(selected="Health & Wellness", name="eventTopic") Health & Wellness
          option(selected="Hobbies & Special Interest", name="eventTopic") Hobbies & Special Interest
          option(selected="Home & Lifestyle", name="eventTopic") Home & Lifestyle
          option(selected="Music", name="eventTopic") Music
          option(selected="Other", name="eventTopic") Other
          option(selected="Performence & visual art", name="eventTopic") Performence & visual art
          option(selected="Religion & Spritually", name="eventTopic") Religion & Spritually
          option(selected="School Activities", name="eventTopic") School Activities
          option(selected="Science Technology", name="eventTopic") Science & Technology
          option(selected="Seasonal & holliday", name="eventTopic") Seasonal & holliday
          option(selected="Sport & Fitness", name="eventTopic") Sport & Fitness
          option(selected="Travel & Outdoor", name="eventTopic") Travel & Outdoor
    .col-md-2
      label(for="maxPeople") 최대 인원
      input#inputState.form-control(type="number", name="maxPeople", placeholder="100")

.form-group
  .row
    .col-md-2
      | 참여 비용
    .col-md-2
      .money-pay-ticket
        | 가격
  .row
    .col-md-1
      .money-pay
        .form-check.form-check-inline
          label.form-check-label(for="pay") 
            input#inlineRadio1.form-check-input(type="radio", name="pay", value="option1")
            |  유료
    .col-md-1
      .money-free
        .form-check.form-check-inline
          label.form-check-label(for="pay")
            input#inlineRadio1.form-check-input(type="radio", name="pay", value="option2")
            |  무료 
    .col-md-2
      .money-pay-ticket
        label(for="ticket")
        textarea.form-control(name="ticket", rows="1" )= question.ticket
.form-group
  .row
    | 이벤트 장소 : 장소를 클릭해주세요!
  .row
    #map(style='width:100%;height:250px;')
    #clickLatlng
    script(type='text/javascript', src='//dapi.kakao.com/v2/maps/sdk.js?appkey=9988bdec902aa90206eb2a63e3510b1a&libraries=services')
    script.
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div
      mapOption = {
      center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
      level: 3 // 지도의 확대 레벨
      };
      var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
      // 지도를 클릭한 위치에 표출할 마커입니다
      var marker = new daum.maps.Marker({
      // 지도 중심좌표에 마커를 생성합니다
      position: map.getCenter()
      });
      // 지도에 마커를 표시합니다
      marker.setMap(map);
      // 지도에 클릭 이벤트를 등록합니다
      // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
      daum.maps.event.addListener(map, 'click', function(mouseEvent) {
      // 클릭한 위도, 경도 정보를 가져옵니다
      var latlng = mouseEvent.latLng;
      // 마커 위치를 클릭한 위치로 옮깁니다
      marker.setPosition(latlng);
      var lat=latlng.getLat();//위도
      var lng=latlng.getLng();//경도
      $("#form-lat").val(lat);
      $("#form-lng").val(lng);
      });
  .form-group
  .row
    .col-md-2
      .lat
        label(for="lat") 위도
        input.form-control(type="text", id="form-lat", name="lat", value=question.startedAt)
    .col-md-2
      .lng
        label(for="lng") 경도
        input.form-control(type="text", id="form-lng",name="lng", value=question.finishedAt)


.form-group
  .row
    .col-md-2
      label(for="startedAt") 시작 날짜
      input.form-control(type="date", name="startedAt", value=question.startedAt)
    .col-md-2
      label(for="finishedAt") 종료 날짜
      input.form-control(type="date", name="finishedAt", value=question.finishedAt)

.form-group
  label(for="question") 이벤트 내용
  textarea.form-control(name="content", rows="5")= question.content

.form-group
  label(for="tags") 태그
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")
