extends ../layout

block content
  .container
    h1.main-title= question.title

    .question.show
      .container
        .btn.btn-outline-secondary
          | 이벤트 내용 
        .alert.alert-secondary
          .content!= question.content
      .container
        include _question
      .container
        include map

      .buttons
        if currentUser
          button.btn.btn-primary.question-like-btn(data-id=question.id) 
            span #[i.fa.fa-thumbs-up] Like  

        if currentUser && question.author.id == currentUser.id
          | 
          a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
          | 
          a.btn.btn-outline-danger.need-confirm-btn(href=`/questions/${question.id}?_method=delete`) Delete
          |
          hr
          .container
            .alert.alert-primary(style="width:9em; text-align:center")
              | 참여 명단 
            table.table
              thead.thead-dark
                tr
                  th(scope="col") #
                  |       
                  th(scope="col") Name
                  |       
                  th(scope="col") Email
              |   
              tbody
                each parPeople in participates
                  tr
                    th(scope="row")
                    td
                      a #{parPeople.author.name}       
                    td
                      a #{parPeople.author.email}
        hr 
        form(action=`/questions/${question.id}/participate`, method="POST")             
          if question.survey1
            .alert.alert-secondary
              .row
                .col-md-2
                  | #
                .col-md-4
                  | 문항
                .col-md-5
                  | 답변
              hr
              .row
                .col-md-2
                  | 소속
                .col-md-4   
                  | 참여자의 소속은 어디입니까?
                .col-md-5
                  input.form-control(type='text',name="answerOrg",placeholder="학교 회사 등")
              .row
                .col-md-2
                  | 참여이유
                .col-md-4   
                  | 참여 이유는 무엇입니까?
                .col-md-5
                  input.form-control(type='text',name="answerReason",placeholder="여가활동 등")
              hr
              .row
                .col-md-2
                  | 설문1.
                .col-md-4   
                  .content=question.survey1
                .col-md-5
                  input.form-control(type='text')
              if question.survey2
                .row
                  .col-md-2
                    | 설문2.
                  .col-md-4
                    .content=question.survey2
                  .col-md-5
                    input.form-control(type='text')
              if question.survey3
                .row
                  .col-md-2
                    | 설문3.
                  .col-md-4 
                    .content=question.survey3
                  .col-md-5
                    input.form-control(type='text')
          button.btn.btn-success(type="submit") 참여 신청          
    hr

    ul.nav.nav-tabs
      .show-answer
        li.nav-item
          a.nav-link.active 질문 보기
      .show-review
        li.nav-item
          a.nav-link.active 후기 보기
    hr         
    .all-answer.alert.alert-secondary
      if question.numAnswers > 0
        h3 #{question.numAnswers} Answer(s)
        .answers.show
          each answer in answers
            include _answer
            

      form(action=`/questions/${question.id}/answers`, method='POST')
        .form-group
          label(for='answer') 질문
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") 질문하기
    
    .all-review.alert.alert-secondary
      if question.numReviews > 0
        h3 #{question.numReviews} Review(s)
        .answers.show
          each review in reviews
            include _review

      form(action=`/questions/${question.id}/reviews`, method='POST')
        .form-group
          label(for='review') 이벤트 후기
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") 후기 작성하기

  script(src='/javascripts/question_client.js')

